# .github/workflows/deploy-infra.yml
name: Infra Repo CI/CD

on:
  workflow_call:

jobs:
  deploy-infra:
    name: Deploy Infra
    runs-on: ubuntu-latest
    steps:
      - name: Checkout infra code
        uses: actions/checkout@v3

      - name: Install rsync
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Rsync infra folder to server
        run: |
          rsync -rlz --delete \
            -e "ssh -p ${{ secrets.SERVER_PORT }} -o StrictHostKeyChecking=no" \
            ./infra/ \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/srv/ft_preavis/infra/

      - name: Restart infrastructure production
        uses: appleboy/ssh-action@v0.1.9
        with:
          host:     ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key:      ${{ secrets.SSH_PRIVATE_KEY }}
          port:     ${{ secrets.SERVER_PORT }}
          script: |
            cd /srv/ft_preavis
#            sudo make restart-prod
