# .github/workflows/deploy-infra.yml
name: Infra Repo CI/CD

on:
  workflow_call:

jobs:
  deploy-infra:
    name: Deploy Infra
    runs-on: ubuntu-latest
    steps:
      - name: SSH & pull service changes
        uses: appleboy/ssh-action@v0.1.9
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            git config --global --add safe.directory /srv/ft_preavis/infra

            cd /srv/ft_preavis/infra
            git remote set-url origin https://$TOKEN@github.com/ftpreavis/infra.git
            git fetch
            git checkout master
            git reset --hard
            git remote set-url origin git@github.com:ftpreavis/infra.git
            cd /srv/ft_preavis
            make restart-prod
