# .github/workflows/deploy-infra.yml
name: Infra Repo CI/CD

on:
  workflow_call:

jobs:
  deploy-infra:
    name: Deploy Infra
    runs-on: ubuntu-latest
    steps:
      - name: Checkout infra code
        uses: actions/checkout@v3

      - name: Rsync infra folder to server
        run: |
          rsync -avz --delete \
            --exclude='.git' \
            --exclude='.terraform' \
            ./ \
            ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/srv/ft_preavis/infra/

      - name: Restart infrastructure production
        uses: appleboy/ssh-action@v0.1.9
        with:
          host:     ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port:     22
          script: |
            cd /srv/ft_preavis
            make restart-prod
