# .github/workflows/microservice-ci-cd.yml
name: Microservice CD Template

on:
  workflow_call:
    inputs:
      service_name:
        description: 'The directory name of the microservice under /srv/ft_preavis/services'
        required: true
        type: string

jobs:
  deploy:
    name: Deploy Microservice
    runs-on: ubuntu-latest
    steps:
      - name: SSH & pull service changes
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd /srv/ft_preavis/services/${{ inputs.service_name }}
            sudo git config --global --add safe.directory /srv/ft_preavis/services/${{ inputs.service_name }}
            sudo git pull origin master
            cd /srv/ft_preavis
            make restart-prod

# Usage in a microservice repo:
#--------------------------------
# .github/workflows/ci-cd.yml
# name: CI/CD
# on:
#   push:
#     branches: [ master ]
# jobs:
#   ci-cd:
#     uses: ftpreavis/.github/.github/workflows/ci-cd-microservices.yml@main
#     with:
#       service_name: your-service
#     secrets: inherit
